.txt_title,
h4,
.container {
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

.bg_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    height: 300px;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
}

.btn_group {
    text-align: center;
}


.trangmodau{
    text-align: center;
}


.bg_redis {
    background-image: url(./img/Jupiter.jpg);
    background-size: cover;
}
.bg_deploy {
    background-image: url(./img/Jupiter.jpg);
    background-size: cover;
}

.bg_spark {
    background-image: url(./img/Jupiter.jpg);
    background-size: cover;
}
.btn_action {
    margin-right: 20px;
}
/* CSS */
.btn_action {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn_action:hover,
.btn_action:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.btn_action:hover {
  transform: translateY(-1px);
}

.btn_action:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}


.table1{
    margin-left: 250px;
    font-size: 20px;
    padding: 20px;
}

.table2{
    margin-left: 250px;
    font-size: 20px;
    padding: 20px;
}




