<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deploy application</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'index.css')}}">
</head>
<body class="bg_redis">
    <h1 class="txt_title">DEPLOYMENT</h1>
    <table border="1" class="table1">
        <tr>
            <th colspan="1">Name</th>
			<th colspan="1">Namespace</th>
			<th colspan="1">Revision</th>
			<th colspan="1">Updated</th>
			<th colspan="1">Status</th>
			<th colspan="1">Chart</th>
			<th colspan="1">App Version</th>
			 <th colspan="1">Info</th>
			<th colspan="1">Action</th>

        </tr>
        <tr>
            {%  for i in range(0,mydata|length) %}
                <tr>
                {% set url_del ='/delete_deploy?app=' + mydata[i][0] %}
                {% set url = '/deploy_modify?app=' + mydata[i][0] %}
                {% for column in mydata[i] %}
                    <td>{{column}}</td>
                {% endfor %}
            
		<td> <form action={{url}} method="post"><button class="btn_ac"><i class="fa fa-tasks"></i></button></form> </td>
	<td>     <form action={{url_del}} method="post"><button class="btn_red"><i class="fa fa-trash"></i></button></form>
            </td>
            </tr>
        {% endfor %}
        </tr>
    </table>

</body>
</html>

