
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết deploy</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'index.css')}}">
</head>
<body class="bg_deploy">
  <h1 class="txt_title">Thông tin applications</h1>
    <h3>Thay đổi replicas sử dụng kubectl</h3>
    <div class="wrapper">
        <!--Make sure the form has the autocomplete function switched off:-->
        <form class="search" autocomplete="on" action="/deploy" method="post">
            <input type="number" name="replicas" >
            <button>Change</button> 
        </form>
    </div>
    <center><h3>Thông tin chi tiết: </h3>
    <div >
        <textarea name="replicas" rows="20" cols="100" readonly>{{mydata}}</textarea>
    </div>
    </center>
    
</body>
</html>

